 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@400;500;600;700&display=swap');

.dark-theme{
    --white: #fff;
    --black: #111;
    --blue: #3a80e9;
    --grey: #888;
    --darkgrey: #1b1b1b;
    --green: #61c96f;
    --red: #f94141;
}

.light-theme{
  --white: #111111;
  --black: #ffffff;
  --blue: #3a80e9;
  --grey: #888;
  --darkgrey: #f3f3f3;
  --green: #61c96f;
  --red: #f94141;
}


html{
  scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--black);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--white);
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}

::selection{
    background-color: var(--blue);
    color: var(--white);
}

/* width */
::-webkit-scrollbar {
    width: 0.3rem;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--black);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--blue);
    border-radius: 3rem;
  }

  a{
    color: var(--white) !important;
    text-decoration: none !important;
  }
  
  img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
  }

.coins-wrapper{
  display: block;
  width: 95%;
  background-color: var(--darkgrey);
  margin: 1.5rem auto;
  border-radius: 0.8rem;
  padding: 0rem 1rem;
}

.coins-days{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 1.5rem;
  gap: 2rem;
}

#daysCompare{
  margin-top: 1rem;
}

.toggle{
  width: 100px;
  height: 10px;
}

.watchlist-grid{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   flex-direction: row;
   gap: 1.8rem;
   margin: 1.5rem 2rem;
}

.noCoinData{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15%;
}